@(title: String)(tasks: List[Task])


@main(title) {
    @*Ideally, we shouldn't be defining JavaScript methods in the window's global namespace.*@
    <script>
       function deleteTask(id) {
          var req = new XMLHttpRequest();
           req.open("delete", "/tasks/" + id);
           req.onload = function(e) {
               if (req.status == 200) {
                  document.location.reload(true);
               }
           };
           req.send();
       }
    </script>
    <div class="header">
        <h2>@title</h2>
    </div>
    <div class="container">
        <form action="@routes.TaskController.newTask()" method="post">
            <input type="text" name="taskName" placeholder="Add a new task" required>
            <input type="submit" class="btn-primary" value="Add">
        </form>
    </div>
    <br>
    <div class="container">
        <ul>
        @tasks.map { task =>
            <li>
                @task.name <button onclick="deleteTask(@task.id);" class="btn-primary">Remove</button>
            </li>
        }
        </ul>
    </div>
}
